* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f00;
}

/* body {
  background: #00f;
} */

.content {
  display: flex;
  justify-content: center;
  padding: 100px 20px;
  background: #c99;
}