* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

/* body {
  background: #00f;
} */

.wrapper {
  position: static;
}

.content {
  display: flex;
  justify-content: center;
  padding: 100px 20px;
  background: #ddd;
}